/*.hero_image__container{
	background-image: url("assets/animation_banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -250px;
	transform: scale(1);
}*/
.reel__container_index{
	background-color: #A5BAB9;
	width: 100vw;
	height: 1400px;
	position: absolute;
	padding-bottom: 100px;
	padding-top: 182px;
	z-index: -1;
	top: 0;
}
.video__holder{
	height: 360px;
	width: 640px;
	margin: 0 auto;
	background-color: grey;
	top: 121px;
	position: relative;
	margin-top: 64px;
}
.video__line{
	position: relative;
	padding: 2px;
	width: 50%;
	background-color: #7EA0E2;
	margin: 0 auto;
	top: 155px;
}
