.item__container{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

}
.reel__container{
	height: 1600px;
}
.item__image{
	height: 260px;
	width: 260px;
	background-color: grey;
	margin: 8px;
	background-size: cover;
}
.item__image:hover{
	animation-direction: normal;
	transform: scale(1.1);
	cursor:pointer;
}
@keyframes image_scale {
	from{transform: scale(1);}
	to{transform: scale(1.1);}
}
/*.darkenbg{
height: 100vh;
width: 100vw;
background-color: rgba(10, 10, 10, .5);
position: absolute;
position: fixed;
margin: 0 auto;
top: 0;
visibility: hidden;
}*/
.image__one{
	background-image: url("assets/one.jpg");
}
.image__two{
	background-image: url("assets/two.jpg");
}
.image__three{
	background-image: url("assets/three.jpg");
}
.image__four{
	background-image: url("assets/four.jpg");
}
.image__five{
	background-image: url("assets/five.jpg");
}
.image__six{
	background-image: url("assets/six.jpg");
}
.image__seven{
	background-image: url("assets/seven.jpg");
}
.image__eight{
	background-image: url("assets/eight.jpg");
}
.image__nine{
	background-image: url("assets/nine.jpg");
}
.image__ten{
	background-image: url("assets/ten.jpg");
}
.image__eleven{
	background-image: url("assets/eleven.jpg");
}
.image__twelve{
	background-image: url("assets/twelve.jpg");
}
.image__seventeen{
	background-image: url("assets/seventeen.jpg");
}
.image__eightteen{
	background-image: url("assets/eightteen.jpg");
}
input {
	display: none;
}
.item__image:hover{
	cursor:pointer;
}
/*input:checked + div.darkenbg{
visibility: visible;
}
input:checked + div{
z-index: 200;
transform: scale(3.1) !important;
margin: 0 auto;
position: fixed;
cursor: pointer;
top: 40%;
right: 0;
bottom: 0;
left: 1%;
vertical-align: middle;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;


}*/

.hero_image__container{
	background-image: url("assets/one.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -100px;
}
/*.image_modal__container{
height: 75%;
width: 75%;
position: fixed;
margin: 10% 12%;
z-index: 10;
background-image: url(assets/one.jpg);
background-size: contain;
background-repeat: no-repeat;

}*/
.reel__container_index{
	background-color: #A5BAB9;
	width: 100vw;
	height: 1400px;
	position: absolute;
	padding-bottom: 100px;
	padding-top: 240px;
	z-index: -1;
	top: 0;
}
.title__container{
	background-color: #A5BAB9;
}
.modal_container{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	z-index: 101;
	text-align: center;
}

.modal_image__container{
	height: 600px;
	background: black;
	margin:0 auto;
	transform: translateY(-50%);
	top: 50%;
	position: relative;
	background-image: url(assets/one.jpg);
	background-size: contain;
	background-repeat: no-repeat;

}
.modal_imgsrc{
	max-width: 100vw;
	max-height: 100vh;
	position: relative;
	padding: 20px;
}
.modal_close{
	right: 10px;
	top: 0;
	position: absolute;
	font-size: 225%;
	font-weight: bold;
	cursor: pointer;
	padding: 20px;
}

.imgsrc_container{
	position: relative;
	max-width: 100vw;
	max-height: 100vh;
	display: inline-block;
	transform: translateY(-50%);
	top: 50%;

}
.arrow{
	display: inline-block;
	color: white;
	font-size: 80px;
	position: relative;
	vertical-align: top;
	transform: translatey(-50%);
	top: 50%;
}
.arrow:hover{
	cursor: pointer;
}
